<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(124, 195, 199);">
    <div class="container">
      <h1 class="display-4"><strong>uh oh! ☹</strong></h1>
      <p class="lead">sorry maybe next time, pls try again or contact JASON!</p>
      <form action="/decline" method="post">
        <button class="btn btn-lg btn-warning" type="submit">Try again</button>
    </form>
    </div>
  </div>



<%- include('partials/footer') %>