<%- include('partials/header') %>


<div class="jumbotron centered" style="background-color: rgb(247, 85, 85)27, 217, 217">
    <div class="container">
      <img class="circle-img" src="https://i.pinimg.com/originals/e3/94/47/e39447de921955826b1e498ccf9a39af.png" alt="">
      <h1 class="name">Guestlist</h1>
      <p class="lead">kindly check through the guestlist to gain access to JASON's birthday party!</p>
      <hr>
      <form action="/" method="post">
        <div class="form-group">
            <!-- <label for="">name?</label> -->
            <input type="text" class="form-control text-center" name="guest" placeholder="what is your name?" required autofocus>
        </div>
        <button style="background-color: rgb(18, 18, 19);" class="btn btn-primary w-100 py-2" name="guest" type="submit">Check</button>
      </form>
      
      
  
    </div>
  </div>




<%- include('partials/footer') %>