<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(124, 195, 199);">
    <div class="container">
      <h1 class="display-4">Awesome! 😊</h1>
      <p class="lead">You are welcome to JASON'S BIRTHDAY PARTY!</p>
    </div>
  </div>



<%- include('partials/footer') %>